body {
    font-family: Roboto, sans-serif;
    margin: 0;
    height: 100vh;
}

/* --- HEADER --- */

.header {
    display: flex;
    background-color: #1f2937;
    height: 500px;
    flex-direction: column;
    padding: 0px 250px;
}

.top-header {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-links {
    font-size: 24px;
    color: #f9faf8;
}

.left-links {
    display: flex;
    gap: 16px;
}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
}

.bottom-header {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 200px;
}

.header-container-text {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
}

.header-container-text-one {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.header-container-text-two {
    font-size: 18px;
    color: #e5e7eb;
    margin: 8px 0px;
}

.header-container-button {
    background: #3882f6;
    border: 1px solid #3882f6;
    color: white;
    margin: 8px 0px;
}

.header-container-img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #a8aab0;
    height: 227px
}

/* --- CONTENT --- */

.content {
    display: flex;
    flex-direction: column;
    height: 1500px;
}

.top-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    padding: 0px 250px;
    justify-content: space-evenly;
}

.top-content-title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.top-content-container {
    display: flex;
    width: 900px;
    justify-content: space-between;
}

.top-content-item {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.top-content-item-box {
    width: 150px;
    height: 150px;
    border: #3882f6 3px solid;
    border-radius: 10px;
}

.top-content-item-description {
    text-align: center;  
    padding-top: 8px;  
}

.middle-content {
    display: flex;
    flex-direction: column;
    padding: 0px 540px;
    height: 500px;
    background: #e5e7eb;
    justify-content: center;
}

.middle-content-quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.middle-content-name {
    font-size: 16px ;
    font-weight: 800;
    text-align: end;
    padding: 0px 32px;
}

.bottom-content {
    display: flex;
    align-items: center;
    height: 500px;
    justify-content: center;
}

.bottom-content-container {
    display: flex;
    width: 1200px;
    height: 150px;
    background: #3882f6;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.bottom-content-left-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bottom-content-main-text {
    font-size: 20px;
    font-weight: 600;
    color: #f9faf8;
}

.bottom-content-text {
    color: #f9faf8;
}

.bottom-content-button {
    background: #3882f6;
    border: #f9faf8 2px solid;
    color: #f9faf8;
}

.footer {
    display: flex;
    height: 72px;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    padding: 8px 32px;
    border-radius: 8px;
}